flask==2.2.3
flask_appbuilder==4.3.5
flask_mongoengine==1.0.0
Flask-User==1.0.2.2
flask-login==0.6.2
flask-mail==0.9.1
flask-ext==0.1
pytest-flask==1.2.0
python-dotenv==1.0.0
certifi==2023.7.22
gunicorn==21.2.0
werkzeug==2.2.2
coverage==7.3.2
codecov==2.1.13