{% extends "layout.html" %}

{% block extra_title %} - Oops!{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 offset-m1 m10 offset-l1 l10">
            <div class="card center">
                <div class="card-image">
                    <a href="{{ url_for('blogs')}}" class="halfway-fab btn-floating pink pink-darken-1 pulse"><p>[ Home ]</p>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title pink-text text-darken-1">{{error_type}}</span>
                    <p>{{excuse}}</p>
                    <p>&nbsp;</p>
                    <p>BlogVerse Message - {{error}}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('user.logout') }}">[ Sign Out ]</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}