{% extends 'base.html' %}

{% block content %}
<center>
    <style>
        th{
            background-color: aqua;
            text-align: center;
        }

        table, td, th{
            border: 1px solid black;
            border-radius: 12px;
        }
    </style>
    <br>
    <br>
    <h1>Hello {{ current_user.username }}</h1> Your Authored Blogs
    <p>
        <table>
            <thead>
                <th>
                    Category
                </th>
                <th>
                    Blog
                </th>
                <th>
                    Read Count
                </th>
                <th>
                    Rating
                </th>
            </thead>
            <tbody>
                {% for a_blog in all_self_blogs %}
                    <tr>
                        <td>
                            {% for a_category in all_categories %}
                                {% if a_category.id == a_blog.category_id %} 
                                    {{ a_category.category_name }} 
                                {% endif %}
                            {% endfor %} 
                        </td>
                        <td>
                            {{ a_blog.blog_text | safe | truncate(275) }} 
                            <a href="/self_blog_detail/{{ a_blog.id }}/{% for a_category in all_categories %}
                            {%- if a_category.id == a_blog.category_id -%} 
                                {{ a_category.category_name }} 
                            {%- endif -%}
                        {% endfor %} "><i><b style="color: blueviolet;">Click here...</b></i></a>
                        </td>
                        <td>
                            {{ a_blog.blog_read_count }}
                        </td>
                        <td>
                            {{ a_blog.blog_rating_count }}
                        </td>
                    </tr>
                {% else %}
                <br>
                <h3>You have no blogs published yet!</h3>
                <H5><a href="{{ url_for('create_blog') }}">Create a blog</a></H5>
                {% endfor %}
            </tbody>
        </table>
    </p>

</center>
{% endblock %}