{% extends 'base.html' %}

{% block content %}
<center>
    <br>
    <br>
    <h1>Hello {{ current_user.username }}</h1> Your Authored Blogs
    <p>
        <table style="border: 1px solid black; border-radius: 10px; padding: 3%; width: 80%;">
            <thead>
                <th>
                    Category
                </th>
                <th>
                    Content
                </th>
                <th>
                    Read Count
                </th>
                <th>
                    Rating
                </th>
            </thead>
            <tbody>
                {% for a_blog in all_self_blogs %}
                    <tr>
                        <td>
                            {% for a_category in all_categories %}
                                {% if a_category.id == a_blog.category_id %} 
                                    {{ a_category.category_name }} 
                                {% endif %}
                            {% endfor %} 
                        </td>
                        <td>
                            <a href="/self_blog_detail/{{ a_blog.id }}/{% for a_category in all_categories %}
                            {%- if a_category.id == a_blog.category_id -%} 
                                {{ a_category.category_name }} 
                            {%- endif -%}
                        {% endfor %} "> {{ a_blog.blog_text | safe | truncate(275) }} <i><b style="color: blueviolet;">Click here...</b></i></a>
                        </td>
                        <td>
                            {{ a_blog.blog_read_count }}
                        </td>
                        <td>
                            {{ a_blog.blog_rating_count }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>

</center>
{% endblock %}